<hibernate-configuration>
 <session-factory>

  <property name="hibernate.connection.driver_class">
    com.mysql.cj.jdbc.Driver
  </property>

  <property name="hibernate.connection.url">
    jdbc:mysql://localhost:3306/smart_complaint_db
  </property>

  <property name="hibernate.connection.username">
    root
  </property>

  <property name="hibernate.connection.password">
    Moul@973
  </property>

  <property name="hibernate.dialect">
    org.hibernate.dialect.MySQLDialect
  </property>

  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.show_sql">true</property>
     <mapping class="com.smartcomplaint.Entities.Users"/>
    <mapping class="com.smartcomplaint.Entities.Admins"/>
    <mapping class="com.smartcomplaint.Entities.Categories"/>
    <mapping class="com.smartcomplaint.Entities.Complaints"/>
    <mapping class="com.smartcomplaint.Entities.ComplaintAttachments"/>
    <mapping class="com.smartcomplaint.Entities.StatusHistory"/>
   

 </session-factory>
</hibernate-configuration>